<!DOCTYPE html>
<html>
  <head>
    <title>Foodie | Meat your Match</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/chat.css" rel="stylesheet">
  	<link href="/css/bootstrap.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/icons/chef.png">
  </head>
  <body style="padding-bottom: 50px;">
    <!-- jumbrotron -->
    <header class="top">
			<a href="/match2/{{name}}"> <img src="../images/icons/left-button.png" id="left"> </a>
			<div class="logo-container">
        <div class="profile-pic" style="background-image:url({{imageURL}});"></div>
        <h4 class="name"> {{name}} </h4>

			</div>
	  </header>

    <div id="chatContainer">
    </div>

    <div class="input" id="chatsend">
      <input type="textbox" id="chatbox" value=""><br>
      <p class="send">Send</p>
    </div>
  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/chat.js"></script>
</html>
