<!DOCTYPE html>
<html>
  <head>
    <title>Foodie | Meat your Match</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
  	<link href="/css/bootstrap.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/logo.ico">
  </head>
  <body>
    <!-- jumbrotron -->
	  <header>
			<div class="container">
				<ul class="nav">
				  <li><a class="back" href="/match"><img src="/images/icons/left.png" width="40"></a></li>
          <li><h1>Foodie</h1></li>
					<li><a class="close" href="/"><img src="/images/icons/dislike.png" width="40"></a></li>
			  </ul>
			</div>
	  </header>
    <p>Chat room - Work in Progress</p>

  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="/js/bootstrap.js"></script>
</html>
