<!DOCTYPE html>
<html>
  <head>
    <title>Foodie | Meat your Match</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/foodInfo.css">
    <link rel="shortcut icon" href="./images/icons/chef.png">

    <script type="text/javascript">
    </script>
  </head>
  <body>

    <div class="container">

      <!-- Header Banner and Profile Pic -->
      <div class="cover-photo" style="background-image:url({{background}});">
        <div class="gradient">
          <a href="/list">
            <div class="back">
              <img src="../images/icons/left.svg">
            </div>
          </a>
        </div>
      </div>
      <h5 class="ethnicity">American</h5>
      <h2 class="name">{{name}}</h2>
      <p class="description">Description of Food Goes Here. Description of Food Goes Here. Description of Food Goes Here. Description of Food Goes Here. Description of Food Goes Here. Description of Food Goes Here. Description of Food Goes Here. </p>

      <div class="cookingInfo">
        <ul class="nav">
          <li><img src="/images/icons/timer1.svg" id="timer"><h6>20 Minutes</h6></li>
          <li><img src="/images/icons/chef.png" id="chef"><h6>Beginner</h6></li>
        <li id="cart"><img src="/images/icons/cart1.svg" id="cart-icon"><h6>$8-$10</h6></li>
        </ul>
      </div>

      <!-- Matched Food Section -->


  </div>

  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/main.js"></script>
  <script type="text/javascript">
    window.onload = function () {
    var url = document.location.href,
        params = url.split('?')[1].split('&'),
        data = {}, tmp;
    for (var i = 0, l = params.length; i < l; i++) {
         tmp = params[i].split('=');
         data[tmp[0]] = tmp[1];
    }
    document.getElementById('here').innerHTML = data.test;
  }
  </script>
</html>
