<!DOCTYPE html>
<html>
  <head>
    <title>Foodie | Meat your Match</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/match.css">
    <link rel="shortcut icon" href="./images/icons/chef.png">
  </head>
  <body>
    <div class="container">

      <header class="top">
        <a href="/profile"> <img src="images/icons/avatar.png" id="avatar"> </a>
        <div class="logo-container">
          <img src="images/logo/FOODIE_TITLE.png">
        </div>
        <a href="images/"><img src="images/icons/chat.png" id="chat"></a>
      </header>

      {{#each questions}}
      <div class="questionsandanswers">
        <h3 class="question">{{question}}</h3>
        <p class="answer">{{answer}}</p>
      </div>
      {{/each}}


    </div>


  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/main.js"></script>

</html>
