<html>
<head>
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='171037619-0',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115258770-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115258770-1');
  </script>

	<title>Foodie | Meat your Match</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/food.css" rel="stylesheet">
  <link rel="shortcut icon" href="./images/icons/chef.png">
</head>
<body>
	<div class="container">
	  <!-- jumbrotron -->
	  <header class="top">
			<a href="/profile"> <img src="images/icons/avatar.png" id="avatar"> </a>
			<div class="logo-container">
				<a href="/"><img src="images/logo/FOODIE_TITLE.png"></a>
			</div>
			<a href="/match2/Mark%20Zuckerberg"><img src="images/icons/chat.png" id="chat"></a>
	  </header>

	  <!-- Mode Selector
	  <div class="mode-selector">
			<ul>
			  <li><a class="selected" href="/">Swipe</a></li>
			  <li><a href="/list">List</a></li>
		  </ul>
	  </div>
	  -->

    <!-- Adds space buffer between header and scrolling section -->
		<div class="header-buffer"></div>

	  <div class="food-container">

		<!-- Food Preview -->
	  <div class="food-preview">
			<div class="food-background" style="background-image: url('../images/food/burger.png')">
			  <ul>
			    <li><a href="#" class="dislike"><img src="/images/icons/dislike.png"></a></li>
			    <li><a href="#" class="like"><img src="/images/icons/like.png"></a></li>
		    </ul>
		  </div>
	  </div>

    <!-- Food Description -->
	  <div class="food-description">
			  <h3>Type of Cuisine</h3>
			  <h2>Name of Food</h2>
	      <p>Description of Food</p>
			  <ul class="nav">
			    <li><img src="/images/icons/timer1.svg" id="timer"><h6>20 Minutes</h6></li>
			    <li><img src="/images/icons/chef.png" id="chef"><h6>Beginner</h6></li>
				<li id="cart"><img src="/images/icons/cart1.svg" id="cart-icon"><h6>$8-$10</h6></li>
		    </ul>
	  </div>
	  </div>

		<!-- Adds space buffer between scrolling section and footer -->
    <div class="footer-buffer"></div>

		<!-- See Matches -->
		<div class="see-matches">
			<div class="text">
			  <p><span class="like-counter">0</span> Foods Liked </br> <span class="like-accuracy"> Like for better accuracy </span> </p>
       		  <a href="/match">
				  <div class="button">See Matches</div>
	      </a>
			</div>
		</div>

  </div>

</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
<script src="/js/index.js"></script>
</html>
