<html>
<head>
	<title>Foodie | Meat your Match</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/food.css" rel="stylesheet">
  <link rel="shortcut icon" href="./images/icons/chef.png">
</head>
<body>
	<div class="container">
	  <!-- jumbrotron -->
	  <header class="top">
			<a href="/profile"> <img src="images/icons/avatar.png" id="avatar"> </a>
			<div class="logo-container">
				<a href="/login1"><img src="images/logo/FOODIE_TITLE.png"></a>
			</div>
			<a href="/chat"><img src="images/icons/chat.png" id="chat"></a>
	  </header>

	  <!-- Mode Selector -->
	  <div class="mode-selector">
			<ul>
			  <li><a class="selected" href="/">Swipe</a></li>
			  <li><a href="/list">List</a></li>
		  </ul>
	  </div>

		<!-- Adds space buffer between header and scrolling section -->
		<div class="header-buffer"></div>

		<!-- Food Preview -->
	  <div class="food-preview">
			<div class="food-background" style="background: url('../images/food/burger.png')">
			  <ul>
			    <li><a href="#" class="dislike"><img src="/images/icons/dislike.png"></a></li>
			    <li><a href="#" class="like"><img src="/images/icons/like.png"></a></li>
		    </ul>
		  </div>
	  </div>

    <!-- Food Description -->
	  <div class="food-description">
				<h3>Type of Cuisine</h3>
			  <h2>Name of Food</h2>
	      <p>Description of Food</p>
			  <ul class="nav">
			    <li><img src="/images/icons/timer.svg"><h6>20 Minutes</h6></li>
			    <li><img src="/images/icons/chef.png"><h6>Beginner</h6></li>
				  <li id="cart"><img src="/images/icons/cart.svg"><h6>$8-$10</h6></li>
		    </ul>
	  </div>

		<!-- Adds space buffer between scrolling section and footer -->
    <div class="footer-buffer"></div>

		<!-- See Matches -->
		<div class="see-matches">
			<div class="text">
			  <p><span class="like-counter">0</span> Foods Liked </br> Like for better accuracy</p>
        <a href="/match">
				  <div class="button">See Matches</div>
	      </a>
			</div>
		</div>

  </div>

</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>
<script src="/js/index.js"></script>
</html>
