<!DOCTYPE html>
<html>
  <head>
    <title>Foodie | Meat your Match</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/food.css" rel="stylesheet">
    <link href="/css/list.css" rel="stylesheet">
  	<link href="/css/bootstrap.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/icons/chef.png">
  </head>
  <body>
    <div class="container">
    <!-- jumbrotron -->
    <header class="top">
			<a href="/profile"> <img src="images/icons/avatar.png" id="avatar"> </a>
			<div class="logo-container">
				<a href="/list"><img src="images/logo/FOODIE_TITLE.png"></a>
			</div>
			<a href="/match2/Mark%20Zuckerberg"><img src="images/icons/chat.png" id="chat"></a>
	  </header>

    <!-- Mode Selector
    <div class="mode-selector">
			<ul>
			  <li><a href="/">Swipe</a></li>
			  <li><a class="selected" href="/list">List</a></li>
		  </ul>
	  </div>
    -->

    <!-- Adds space buffer between header and scrolling section -->
		<div class="header-buffer"></div>

    {{#each foods}}
      <div class="list-item" style>
        <div class="food-background" style="background-image: url({{imageURL}})">
          <div class="gradient">
          <p>{{ethnicity}}</br><span id="name">{{name}}</span></p>
          <ul>
            <li class="dislike"><a><img src="/images/icons/dislike.png"></a></li>
            <li class="like"><a><img src="/images/icons/like.png"></a></li>
          </ul>
          </div>
        </div>
      </div>
    {{/each}}

    <!-- Adds space buffer between scrolling section and footer -->
    <div class="footer-buffer"></div>

    <!-- See Matches -->
   <div class="see-matches">
      <div class="text">
        <p><span class="like-counter">0</span> Foods Liked </br> <span class="like-accuracy"> Like for better accuracy </span> </p>
        <a href="/match">
          <div class="button">See Matches</div>
        </a>
      </div>
    </div>

    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115258770-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115258770-1');
    </script>
  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/list.js"></script>
</html>
