<html>
<head>
	<title>Foodie</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/login1.css">

	<!-- JS -->


</head>
<body>

	<div class="container">
		<div class="img1">
			<img src="images/food/loginFood1.png">
		</div>
		<div class="login-container">
			<div class="img3">
				<img src="images/food/loginFood3.png">
			</div>
			<!-- LOGO --> 
			<div class="logo">
				<img src="images/logo/FOODIE_TITLE.png">
			</div>
			<!-- Input Bar -->
			<div class="form-input">
				<form>
					<p class="email-text">Email</p>
					<input type="text" name="" placeholder="Email Address">
					<p class="password-text">Password</p>
					<input type="password" name="" placeholder="•••••••">
				</form>
			</div>
			<!-- Next Button -->
			<a href="/">
				<div class="next">
					<p>Login</p>
				</div>
			</a>
			
			<p class="register"><i>Don't have an account? <a href="/register1">Register</a></i></p>
		</div>

	</div>

</body>
</html>
