<html>
<head>
	<title>Foodie</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/login.css">

	<!-- JS -->


</head>
<body>

	<div class="container">
		<div class="img1">
			<img src="images/food/loginFood1.png">
		</div>
		<div class="login-container">
			<div class="img3">
				<img src="images/food/loginFood3.png">
			</div>
			<!-- LOGO --> 
			<div class="logo">
				<img src="images/logo/FOODIE_TITLE.png">
			</div>
			<!-- Next Button -->
			<a href="/login1">
				<div class="next">
					<p>Logi with email</p>
				</div>
			</a>
			<a href="/">
				<div class="next" id="facebook">
					<p>Login with Facebook</p>
				</div>
			</a>
			
			<p class="register"><i>Don't have an account? <a href="/register1">Register</a></i></p>
		</div>

	</div>

</body>
</html>
