<!DOCTYPE html>
<html>
  <head>
    <title>Foodie | Meat your Match</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/match2.css" rel="stylesheet">
  	<link href="/css/bootstrap.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/icons/chef.png">
  </head>
  <body style="padding-bottom: 50px;">
    <div class="containter">
        <!-- jumbrotron -->
      <header class="top">
        <a href="/profile"> <img src="../images/icons/avatar.png" id="avatar"> </a>
        <div class="logo-container">
          <a href="/">
            <img src="../images/logo/FOODIE_TITLE.png">
          </a>
        </div>
        <a href="/match2/Mark%20Zuckerberg"><img src="../images/icons/chat.png" id="chat"></a>
      </header>

      <div class="menu">
        <div class="accepted">
          Accepted
        </div>
        <!-- We will have to comment this out for now
        <div class="pending">
          Pending
        </div>
      -->
      </div>

      <a href="/chat/{{name}}">
        <div id="matches">
          <div class="match">
            <div class="profile-img">
              <img src="{{imageURL}}">
            </div>
            <div class="details">
              <label style="font-size: 20px; margin-top: -5px;">{{name}}</label>
              <p style="font-style: italic;">90% Match Rating</p>
              <p >Description of person. He likes to eat sushi and chicken.</p>
            </div>
            <div style="padding-top: 40px; padding-left: 20px;">
              <img style="height: 30px; width: 20px;" src="../images/icons/profile-right.png">
            </div>
          </div>
        </div>
      </a>

    </div>
  </body>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/main.js"></script>
</html>
