<!DOCTYPE html>
<html>
  <head>
    <title>Foodie | Meat your Match</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/profile.css">
  	<link href="/css/bootstrap.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/icons/chef.png">
  </head>
  <body>
    <!-- jumbrotron -->
    <header class="top">
        <a href="/profile"> <img src="images/icons/avatar.png" id="avatar"> </a>
        <div class="logo-container">
          <a href="/"> <img src="images/logo/FOODIE_TITLE.png"></a>
        </div>
        <a href=""><img src="images/icons/chat.png" id="chat"></a>
    </header>


    <div class="profile-pic">
      <div class="avatar">
        <img src="images/icons/whiteAvatar.png">
      </div>
    </div>

    <div class="bio">
      <h3 class="name">Name of Student</h3>
      <p class="description">Hiii! I love eating kbbq and buying boba. In my free time, I love to cook meal prep meals and Japanese food. </p>
    </div>

    <div class="options">
      <!-- Change Preferences -->
      <!-- View and Edit Liked Food -->
      <!-- Reset -->
      <a href="/reset">
        <div class="option-item">
          <p>Reset</p>
          <img src="images/icons/profile-right.png" class="right">
        </div>
      </a>
      <!-- Help -->
      <a href="/help">
      <div class="option-item">
        <p>Help</p>
        <img src="images/icons/profile-right.png" class="right">
      </div>
      </a>

      <!-- Liked Foods  -->
      <div class="liked-foods">
        <ul>
          {{#each likes}}
            <li><img class="food-image" src="{{imageURL}}"></li>
          {{/each}}
        </ul>
      </div>

      <a href="/login">
        <div class="logout">
          <p>Logout</p>
        </div>
      </a>
    </div>

  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/main.js"></script>
</html>
