<html>
<head>
	<title>Foodie</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/register.css">

	<!-- JS -->


</head>
<body>

	<div class="container">
		<div class="img1">
			<img src="images/food/loginFood1.png">
		</div>
		<div class="login-container">
			<h3><a href="/register2"><  BACK</a></h3>
			<div class="img3">
				<img src="images/food/loginFood3.png">
			</div>
			<!-- LOGO --> 
			<div class="logo">
				<img src="images/logo/FOODIE_TITLE.png">
			</div>
			<!-- Question -->
			<div class="question">
				<p><i>Connect to match with your Foodie</i></p>
				<h2>How should we greet you?</h2>
			</div>
			<!-- Input Bar -->
			<div class="form-input">
				<form>
					<input type="text" name="" placeholder="Name">
				</form>
			</div>
			<!-- Next Button -->
			<a href="/">
				<div class="next">
					<p>Next</p>
				</div>
			</a>
		</div>

	</div>

</body>
</html>
