<!DOCTYPE html>
<html>
  <head>
    <title>Foodie | Meat your Match</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/profile.css">
  	<link href="/css/bootstrap.css" rel="stylesheet">
  	<link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/icons/chef.png">
  </head>
  <body>
    <!-- jumbrotron -->
    <header class="top">
        <a href="/profile"> <img src="images/icons/avatar.png" id="avatar"> </a>
        <div class="logo-container">
          <a href="/"> <img src="images/logo/FOODIE_TITLE.png"></a> 
        </div>
        <a href="images/"><img src="images/icons/chat.png" id="chat"></a>
    </header>
    
    <div class="profile-pic">
      <div class="avatar">
        <img src="images/icons/Warning.png">
      </div>
    </div>

    <div class="bio">
      <h3 class="name">Warning</h3>
      <p class="description">If you press the reset button below, all of your liked foods will be reset. If you want to individually unlike food, go back and to your profile and choose "View and Edit Liked Food"</p>
    </div>

    <div class="options">

      <a href="#">
        <div class="reset">
          <p>Reset</p>
        </div>
      </a>
    </div>

  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/main.js"></script>
</html>
