.container {
  max-width: 414px;
  margin: auto;

  /* Sticky */
  overflow: scroll;


}

/* sticky-buffers */

.header-buffer {
  padding-top: 15px;
}

.footer-buffer {
	padding-bottom: 90px;
}

/* NAV BAR */
.top {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 70px;
	max-height: 70px;
	margin: auto;
	/* margin-top: 20px; */
	padding-top: 10px;
	/* padding-bottom: 20px; */
	border-bottom: #B8B8B8 solid 0.5px;

	/* sticky */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #FFFFFF;
}

#avatar {
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.logo-container {
	margin: auto;
}

.logo-container img {
	width: 100px;
	margin: auto;
}

#chat {
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

/* mode-selector */

.mode-selector {
	width: 100%;
	margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;

	/* sticky */
	position: fixed;
	top: 70px;
	left: 0;
	right: 0;
	background: #FFFFFF;
}

.mode-selector ul {
  text-align: center;
}

.mode-selector li {
  font-size: 20px;
  display: inline-block;
  padding-right: 15px;
}

.mode-selector a {
  text-decoration: none;
}

.selected {
  font-weight: bold;
  border-bottom: #AFC4C5 3px solid;
}

/* food preview */
.food-preview {
	width: 100%;
	margin: auto;
}

.food-preview .food-background {
  height: 290px;
  max-height: 300px;
  background-position: center;
	background-size: cover;
  margin-top: 0px;
}

.food-preview ul {
  text-align: center;
}

.food-preview li {
  display: inline-block;
  padding-right: 25px;
  padding-left: 25px;
}

.food-preview img {
  margin-top: 200px;
  width: 70px;
}

/* Food Description */

.food-description {
  width: 90%;
  margin: auto;
  padding-top: 15px;
}

.food-description h3 {
  font-size: 20px;
}

.food-description h2 {
  font-size: 28px;
}

.food-description p {
  padding-top: 5px;
  font-size: 16px;
  font-size: 0.9em;
  height: 38px;
}

.food-description h6 {
  padding-top: 10px;
  font-size: 12px;
}

.food-description ul {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.food-description li {
  display: inline-block;
  padding-right: 50px;
}

#cart {
  padding-right: 0px;
}

.food-description img {
  width: 30px;
}

/* See Matches */

.see-matches {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: white;
  bottom: 0;
	left: 0;
	right: 0;
  border-top: solid 0.5px #D2D2D2;
}

.text {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.see-matches p {
  width: 50%;
  padding-top: 8px;
  font-size: 16px;
}

.see-matches a {
  width: 50%;
}

.see-matches span {
	font-weight: bold;
}

.see-matches .button {
  height: 50px;
  padding-top: 17px;
  background-color: #FF4949;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  color: #FFFFFF;
  border-radius: 10px;
  float: right;
}


/* FOOD CARD CONTAINER */

.food-container {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(214,214,214,1);
  -moz-box-shadow: 0px 0px 7px 2px rgba(214,214,214,1);
  box-shadow: 0px 0px 7px 2px rgba(214,214,214,1);
}

.food-description h3 {
  font-size: 0.9em;
}

.food-description p{
  font-weight: 100;
  color: #9E9E9E;
}

.text p {
  font-size: 1.1em;
}

.text .like-accuracy{
  font-size: 0.8em;
  font-weight: 100;
}


@media only screen and (min-width: 413px) {
  .food-container {
    height: 75vh;
  }

  .nav {
    margin-top: 50px;
  }

}
