.container {
  max-width: 414px;
  margin: auto;

  /* Sticky */
  overflow: scroll;
}

/* sticky-buffers */

.header-buffer {
	padding-top: 120px;
}

.footer-buffer {
	padding-bottom: 90px;
}

/* NAV BAR */
.top {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 70px;
	max-height: 70px;
	margin: auto;
	/* margin-top: 20px; */
	padding-top: 10px;
	/* padding-bottom: 20px; */
	border-bottom: #B8B8B8 solid 0.5px;

	/* sticky */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #FFFFFF;
}

#avatar {
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.logo-container {
	margin: auto;
}

.logo-container img {
	width: 100px;
	margin: auto;
}

#chat {
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

/* mode-selector */

.mode-selector {
	width: 100%;
	margin: auto;
  padding-top: 10px;

	/* sticky */
	position: fixed;
	top: 70px;
	left: 0;
	right: 0;
	background: #FFFFFF;
}

.mode-selector ul {
  text-align: center;
}

.mode-selector li {
  font-size: 20px;
  display: inline-block;
  padding-right: 15px;
}

.mode-selector a {
  text-decoration: none;
}

.selected {
  font-weight: bold;
  border-bottom: #AFC4C5 3px solid;
}

/* Food List */

.list-item {
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.food-background {
	width: 100%;
  height: 250px;
  max-height: 250px;
  background-position: center;
}

.gradient {
	width: 100%;
  height: 250px;
  max-height: 250px;
  background-position: center;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5));
}

.list-item p {
	width: 50%;
	font-size: 15px;
	color: #FFFFFF;
	padding-top: 183px;
	padding-left: 10px;
	float: left;
}

.list-item span {
	font-size: 24px;
	font-weight: bold;
}

.list-item ul {
  width: 50%;
	text-align: center;
	float: right;
	padding-top: 170px;
	padding-right: 10px;
}

.list-item li {
	display: inline-block;
}

.list-item img {
	width: 60px;
}

.list-item .dislike {
	padding-right: 20px;
}

/* footer-buffer */

.footer-buffer {
	padding-bottom: 90px;
}

/* See Matches */

.see-matches {
  width: 100%;
  height: 70px;
  background: #D8D8D8;
  position: fixed;
  bottom: 0;
	left: 0;
	right: 0;
}

.text {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.see-matches p {
  width: 50%;
  padding-top: 8px;
  font-size: 16px;
}

.see-matches a {
  width: 50%;
}

.see-matches .button {
  height: 50px;
  padding-top: 12px;
  background: #F26D6D;
  border: 0;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  color: #FFFFFF;
  border-radius: 20px;
  float: right;
}
